<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlertPSO2EmergencyQuest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="shipsBotUrl" value="pso2_emg_ship01;pso2_emg_ship02;pso2_emg_ship03;pso2_emg_ship04&#xD;&#xA;         ;pso2_emg_ship05;pso2_emg_ship06;pso2_emg_ship07;pso2_emg_ship08;pso2_emg_ship09;pso2_emg_ship10"
                                                                                                          />
  </appSettings>
    <userSettings>
        <AlertPSO2EmergencyQuest.Properties.Settings>
            <setting name="botUrl" serializeAs="String">
                <value>pso2_emg_ship10</value>
            </setting>
            <setting name="saveShipName" serializeAs="String">
                <value>ship10</value>
            </setting>
        </AlertPSO2EmergencyQuest.Properties.Settings>
    </userSettings>
</configuration>